#---- Application URL ----#
export APP_URL=

#---- AWS ----#
export AWS_ACCESS_KEY_ID=
export AWS_REGION=
export AWS_SECRET_ACCESS_KEY=

#---- Chartmetric ----#
export CHARTMETRIC_ACCESS_TOKEN=
export CHARTMETRIC_ENV_SET=
export CHARTMETRIC_REFRESH_TOKEN=

#---- Fly ----#
export FLY_APP_CONNECTION_STRING=
export FLY_APP_HOSTNAME=
export FLY_APP_NAME=
export FLY_APP_PASSWORD=
export FLY_APP_POSTGRES_PORT=
export FLY_APP_PROXY_PORT=
export FLY_APP_USERNAME=
export FLY_DATABASE_URL=

#---- Google Cloud ----#
export GOOGLE_CLOUD_PROJECT_ID=

#---- Instagram ----#
export INSTAGRAM_API_URL=
export INSTAGRAM_AUTH_URL=
export INSTAGRAM_CLIENT_ID=
export INSTAGRAM_CLIENT_SECRET=
export INSTAGRAM_ENV_SET=
export INSTAGRAM_REDIRECT_URI=
export INSTAGRAM_TOKEN_URL=

#---- OpenAI ----#
export OPENAI_API_KEY=
export OPENAI_ORGANIZATION_KEY=

#---- Postmark ----#
export POSTMARK_API_KEY=

#---- Spotify ----#
export SPOTIFY_API_URL=
export SPOTIFY_AUTH_URL=
export SPOTIFY_CLIENT_ID=
export SPOTIFY_CLIENT_SECRET=
export SPOTIFY_ENV_SET=
export SPOTIFY_REDIRECT_URI=
export SPOTIFY_TOKEN_URL=

#---- WhatsApp ----#
export WHATSAPP_ENV_SET=
export WHATSAPP_MEDIA_UPLOAD_API_URL=
export WHATSAPP_MESSAGES_API_URL=
export WHATSAPP_TEMPORARY_ACCESS_TOKEN=
export WHATSAPP_VERIFY_TOKEN=
