export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_REGION=

export CHARTMETRIC_ENV_SET=
export CHARTMETRIC_ACCESS_TOKEN=
export CHARTMETRIC_REFRESH_TOKEN=

export GOOGLE_CLOUD_PROJECT_ID=

export OPENAI_API_KEY=
export OPENAI_ORGANIZATION_KEY=

export SPOTIFY_ENV_SET=
export SPOTIFY_CLIENT_ID=
export SPOTIFY_CLIENT_SECRET=
export SPOTIFY_AUTH_URL=
export SPOTIFY_API_URL=
export SPOTIFY_TOKEN_URL=
export SPOTIFY_REDIRECT_URI=

export INSTAGRAM_ENV_SET=
export INSTAGRAM_CLIENT_ID=
export INSTAGRAM_CLIENT_SECRET=
export INSTAGRAM_API_URL=
export INSTAGRAM_AUTH_URL=
export INSTAGRAM_REDIRECT_URI=
export INSTAGRAM_TOKEN_URL=

export WHATSAPP_ENV_SET=
export WHATSAPP_MESSAGES_API_URL=
export WHATSAPP_MEDIA_UPLOAD_API_URL=
export WHATSAPP_TEMPORARY_ACCESS_TOKEN=
export WHATSAPP_VERIFY_TOKEN=
