<.flash_group flash={@flash} />
<%= if @current_user do %>
  <section class="px-4 py-8 sm:px-6 sm:py-8 lg:px-8 xl:px-8 xl:py-8">
    <div class="mx-auto max-w-4xl lg:mx-0">
      <h1 class="mt-2 text-lg font-semibold leading-8">
        Must-Have Career Checklist
      </h1>
      <!-- High-Quality Music Production -->
      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">High-Quality Music Production</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>Are your tracks well-produced and mixed?</li>
          <li>Are your songs mastered for streaming platforms?</li>
        </ul>
      </div>
      <!-- Artwork and Branding -->
      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Artwork and Branding</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>Do you have professional cover art for your releases?</li>
          <li>Is your branding consistent and recognizable, including a logo?</li>
        </ul>
      </div>
      <!-- Distribution -->
      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Distribution</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>Have you used a digital distribution service like DistroKid or TuneCore?</li>
          <li>
            If there is demand, have you considered producing physical copies like CDs or vinyl?
          </li>
        </ul>
      </div>
      <!-- Rights and Royalties -->
      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Rights and Royalties</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>Are you registered with a performance rights organization (PRO) like ASCAP?</li>
          <li>Have you secured copyrights and UPC, ISRC codes for your releases?</li>
        </ul>
      </div>
      <!-- Online Presence -->
      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Online Presence</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>
            Do you have an official website with your bio, news, show dates, and direct sales options?
          </li>
          <li>Are your social media profiles (Instagram, Twitter, etc.) regularly updated?</li>
          <li>Do you maintain a presence on platforms like SoundCloud, Bandcamp, and YouTube?</li>
        </ul>
      </div>
      <!-- Marketing and Promotion -->
      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Marketing and Promotion</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>Do you have a basic marketing plan for your releases?</li>
          <li>
            Have you prepared a press kit (EPK) with your bio, photos, music, and contact info?
          </li>
          <li>Do you actively reach out to blogs, playlists, and local media?</li>
          <li>
            Are you engaging with fans on social media, through mailing lists, and at shows?
          </li>
        </ul>
      </div>
      <!-- Performance and Networking -->
      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Performance and Networking</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>Have you prepared a setlist for live performances?</li>
          <li>Are you networking with industry professionals?</li>
          <li>
            Do you have a schedule for performances and open mics?
          </li>
        </ul>
      </div>
      <!-- Merchandise -->
      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Merchandise</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>Do you offer basic merchandise like t-shirts, stickers, and posters?</li>
        </ul>
      </div>
      <!-- Fan Engagement -->
      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Fan Engagement</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>Do you have a mailing list for keeping your fans updated?</li>
          <li>
            Are you releasing regular content like behind-the-scenes footage, blogs, or vlogs?
          </li>
        </ul>
      </div>
      <!-- Music Videos -->
      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Music Videos</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>Have you created music videos or visualizers, budget permitting?</li>
        </ul>
      </div>
      <!-- Analytics and Feedback -->
      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Analytics and Feedback</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>Do you monitor analytics through your distributors or streaming services?</li>
          <li>Are you open to constructive feedback on your music and marketing strategies?</li>
        </ul>
      </div>
      <!-- Budgeting and Finance -->
      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Budgeting and Finance</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>Have you established a clear budget for your projects?</li>
          <li>Do you have a business account or method for managing music-related finances?</li>
        </ul>
      </div>
      <!-- Legal Considerations -->
      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Legal Considerations</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>Do you have a basic understanding of contracts for collaborations?</li>
          <li>Are you knowledgeable about music licensing for media use?</li>
        </ul>
      </div>
      <!-- Mental Preparedness and Resilience -->
      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">
          Mental Preparedness and Resilience
        </h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>Are you patient and persistent in your growth and development as an artist?</li>
        </ul>
      </div>

      <div class="mt-8 flex justify-center">
        <button class="px-6 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 shadow-sm hover:bg-indigo-700">
          Explore More
        </button>
      </div>
    </div>
  </section>
<% else %>
  <section class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
    <!-- TODO: Add content for guests goes here -->
  <!-- Include a brief about the artist development program to entice new users to join -->
  </section>
<% end %>
