<.flash_group flash={@flash} />
<%= if @current_user do %>
  <section class="px-4 py-8 sm:px-6 sm:py-8 lg:px-8 xl:px-8 xl:py-8">
    <div class="mx-auto max-w-4xl lg:mx-0">
      <h1 class="text-brand mt-2 text-lg font-semibold leading-8">
        High-Quality Music Production
      </h1>
      <p class="mt-4 text-base leading-7 text-zinc-600">
        Are your tracks well-produced and mixed? Are your songs mastered for streaming platforms?
      </p>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Artwork and Branding</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>
            Do you have professional cover art for your releases?
          </li>
          <li>
            Is your branding consistent and recognizable, including a logo?
          </li>
        </ul>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">
          Distribution
        </h2>
        <ul class="list-decimal pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>
            Have you used a digital distribution service like DistroKid or TuneCore?
          </li>
          <li>
            If there is demand, have you considered producing physical copies like CDs or vinyl?
          </li>
        </ul>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Rights and Royalties</h2>
        <p class="mt-4 text-sm leading-5 text-zinc-600">
          Are you registered with a performance rights organization (PRO) like ASCAP? Have you secured copyrights and UPC, ISRC codes for your releases?
        </p>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Online Presence</h2>
        <p class="mt-4 text-sm leading-5 text-zinc-600">
          Do you have an official website with your bio, news, show dates, and direct sales options? Are your social media profiles (Instagram, Twitter, etc.) regularly updated? Do you maintain a presence on platforms like SoundCloud, Bandcamp, and YouTube?
        </p>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Marketing and Promotion</h2>
        <p class="mt-4 text-sm leading-5 text-zinc-600">
          Do you have a basic marketing plan for your releases? Have you prepared a press kit (EPK) with your bio, photos, music, and contact info? Do you actively reach out to blogs, playlists, and local media? Are you engaging with fans on social media, through mailing lists, and at shows?
        </p>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Performance and Networking</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>
            Have you prepared a setlist for live performances?
          </li>
          <li>
            Are you networking with industry professionals?
          </li>
          <li>
            Do you have a schedule for performances and open mics?
          </li>
        </ul>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Merchandise</h2>
        <p class="mt-4 text-sm leading-5 text-zinc-600">
          Do you offer basic merchandise like t-shirts, stickers, and posters?
        </p>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Fan Engagement</h2>
        <p class="mt-4 text-sm leading-5 text-zinc-600">
          Do you have a mailing list for keeping your fans updated? Are you releasing regular content like behind-the-scenes footage, blogs, or vlogs?
        </p>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Music Videos</h2>
        <p class="mt-4 text-sm leading-5 text-zinc-600">
          Have you created music videos or visualizers, budget permitting?
        </p>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Analytics and Feedback</h2>
        <p class="mt-4 text-sm leading-5 text-zinc-600">
          Do you monitor analytics through your distributors or streaming services? Are you open to constructive feedback on your music and marketing strategies?
        </p>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Budgeting and Finance</h2>
        <p class="mt-4 text-sm leading-5 text-zinc-600">
          Have you established a clear budget for your projects? Do you have a business account or method for managing music-related finances?
        </p>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Legal Considerations</h2>
        <p class="mt-4 text-sm leading-5 text-zinc-600">
          Do you have a basic understanding of contracts for collaborations? Are you knowledgeable about music licensing for media use?
        </p>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">
          Mental Preparedness and Resilience
        </h2>
        <p class="mt-4 text-sm leading-5 text-zinc-600">
          Are you patient and persistent in your growth and development as an artist?
        </p>
      </div>

      <div class="mt-8 flex justify-center">
        <button class="px-6 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 shadow-sm hover:bg-indigo-700">
          Explore More
        </button>
      </div>
    </div>
  </section>
<% else %>
  <section class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
    <!-- TODO: Add content for guests goes here -->
  <!-- Include a brief about the artist development program to entice new users to join -->
  </section>
<% end %>
