<.flash_group flash={@flash} />
<%= if @current_user do %>
  <section class="px-4 py-8 sm:px-6 sm:py-8 lg:px-8 xl:px-8 xl:py-8">
    <div class="mx-auto max-w-4xl lg:mx-0">
      <h1 class="text-brand mt-2 text-lg font-semibold leading-8">
        Music Funnel: An alternative artist development path
      </h1>
      <p class="mt-4 text-base leading-7 text-zinc-600">
        Get another opportunity to be heard and helped by industry experts.
      </p>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Introduction to Music Funnel</h2>
        <ul class="list-disc pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>
            A platform that merges AI and music industry expertise, offering a structured seven-step process to foster musician development.
          </li>
          <li>
            Empowers artists with personalized feedback, insightful marketing strategies, and professional production guidance for enhanced market entry and success.
          </li>
          <li>
            Aligns with artists’ ambitions using a future earnings model, ensuring mutual success with no high upfront fees.
          </li>
          <li>
            If you make it through the Music Funnel, you'll get access to strategic industry connections and tools for sustainable monetization and career growth.
          </li>
        </ul>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">
          The Steps of Music Funnel
        </h2>
        <ul class="list-decimal pl-6 mt-4 text-sm leading-5 text-zinc-600">
          <li>
            <strong>Entry Submission</strong>: Registration, profile creation with social media, and work submission with a $10 fee for copyright agreement and expert review access.
          </li>
          <li>
            <strong>Screening & Reclassification</strong>: AI and human experts evaluate market potential and suggest improvements or reclassification.
          </li>
          <li>
            <strong>First Airing & Evaluation</strong>: Production review for talented artists and feedback for others to adjust submissions.
          </li>
          <li>
            <strong>Production Review</strong>: Feedback on music production's mix, mastering, and overall sound quality, along with AI-driven insights for improvement.
          </li>
          <li>
            <strong>Launch Analysis or Strategic Repositioning</strong>: Monitoring post-launch performance to inform release timing and promotional efforts.
          </li>
          <li>
            <strong>Market Reaction: Rejection, Reposition, or Sign</strong>: Strategizing based on market response and AI analysis to guide artists through rejection, adjustments, or promotion phases.
          </li>
          <li>
            <strong>Final Evaluation</strong>: Consideration of artists for signing, connecting them to an industry network, and planning for career acceleration.
          </li>
        </ul>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Music Funnel: Beyond the App</h2>
        <p class="mt-4 text-sm leading-5 text-zinc-600">
          Offering a holistic experience tailored to each artist while balancing technology and personal attention to foster an environment conducive to creativity.
        </p>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Qualification for Music Funnel</h2>
        <p class="mt-4 text-sm leading-5 text-zinc-600">
          Qualification by merit through observable spikes in streaming counts, followers, or music scouts’ recognition. Access to guided processes is financed through a percentage of future earnings.
        </p>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Affordability and Monetization</h2>
        <p class="mt-4 text-sm leading-5 text-zinc-600">
          The royalties-share model that aligns with artist success, providing a cost-effective approach with mutual benefits.
        </p>
      </div>

      <div class="mt-8">
        <h2 class="text-brand text-md font-semibold leading-6">Conclusion</h2>
        <p class="mt-4 text-sm leading-5 text-zinc-600">
          Music Funnel provides an alternative to traditional record label signings with an AI-supported, expert human-led process to refine and promote artists' careers.
        </p>
      </div>

      <div class="mt-8 flex justify-center">
        <button class="px-6 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 shadow-sm hover:bg-indigo-700">
          Sign up for waitlist
        </button>
      </div>
    </div>
  </section>
<% else %>
  <section class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
    <!-- TODO: Add content for guests goes here -->
  <!-- You can include call-to-action (CTA) for sign-up or registration -->
  <!-- Include a brief about Music Funnel to entice new users to join -->
  </section>
<% end %>
