<div class="mx-auto max-w-2xl flex flex-col h-full">
  <%!-- TODO: fix for small charts but breaks others <div class="mx-auto lg:mx-0"> --%>
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</div>
